[Unit]
Description=Besu Execution Client (Mainnet)
Wants=network-online.target

[Service]
Type=simple
User=besu
Group=besu

Restart=always
RestartSec=5

TimeoutStopSec=300s

WorkingDirectory=/var/lib/besu

EnvironmentFile=/etc/besu.conf
ExecStart=/usr/bin/besu \
  --network=mainnet \
  --data-path=/var/lib/besu \
  --data-storage-format=BONSAI \
  --sync-mode=X_SNAP \
  --rpc-http-enabled=true \
  --rpc-http-host=0.0.0.0 \
  --rpc-ws-enabled=true \
  --rpc-ws-host=0.0.0.0 \
  --host-allowlist=127.0.0.1,localhost \
  --engine-host-allowlist=127.0.0.1,localhost \
  --engine-rpc-enabled \
  --engine-jwt-secret=/var/lib/jwtsecret/jwt.hex

[Install]
WantedBy=multi-user.target
